<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIUserNotificationType</key>
	<integer>7</integer>
	<key>UIAppFonts</key>
	<array>
		<string>fontastique.ttf</string>
		<string>ZenLoop-Regular.ttf</string>
		<string>omnes.ttf</string>
	</array>
</dict>
</plist>
